<div class="topnav">
  <a class="active" href="/recipes/">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>


<h1>Edit this recipe! Make it your own!</h1>

<table>
<form action="/recipes/{{recipes.id}}?_method=put" method="post">
  <label>Name</label>
  <input type="text" name="name" value="{{recipes.name}}">
  <label>Ingredients</label>
  <input type="text" name="ingredients" value="{{recipes.ingredients}}">
  <label>Steps</label>
  <input type="text" name="instructions" value="{{recipes.instructions}}">
  <input type="submit" value="Edit">
</form>

<form action="/recipes/{{recipes.id}}?_method=delete" method="post">
  <input type="submit" value="Remove">
</form>



<style>
  body {
    padding: 30px;
    margin: 30px;
  }
 .topnav {
    background-color: #333;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;

    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #ff599f;
    color: white;
  }
  
  h1 {
    font-family: 'Coming Soon', cursive;
    font-size: 60px;
    text-align: center;
    color: #ff599f;
    background-color: #6ec4db;
    width: 100%;
    height: 100%;
  }

  form {
    font-family: 'Coming Soon', cursive;
    font-size: 18px;
    color: #ff599f;
    width: 100%;
    height: 100%;
  }
</style>