<div class="topnav">
  <a class="active" href="/recipes/">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

<h1> Recipes</h1>
  <table>
  {{#each recipes as |recipe|}}
  <tr>
    <td>
      <a href="/recipes/{{recipe.id}}">{{recipe.name}}</a>
    </td>
    <td>
      {{ recipe.user }}
      <a href="{{ user }} /recipes/edit/{{recipe.id}}">Edit</a> 
  {{/each}}
    </td>
  </tr>
</table>



<style>
 body {
    padding: 30px;
    margin: 30px;
  }
.topnav {
    background-color: rgb(171, 240, 144);
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;

    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ff599f;
    color: black;
  }

  .topnav a.active {
    background-color: #ff599f;
    color: white;
  }

table {
  border-collapse: collapse;
  font-family: 'Lato', sans-serif;
  font-size: larger;
  width: 100%;
  color: rgb(14, 13, 13);
  background-color: rgb(171, 240, 144);
  opacity: 0.95;

}

table, th, td {
  height: 50px;
  height: 50px;
  vertical-align: center;
  padding: 15px;
  text-align: center;
}
tr:hover {
  background-color: #ff599f;

}
  body {
    background-image: url(https://i.imgur.com/FmxOiqW.jpg);
    font-family: 'Lato', sans-serif;
    background-size: cover;
    font-size: 20px;
    margin: 25px;
    padding: 35px;
  }

  h1 {
    font-family: 'Coming Soon', cursive;
    font-size: 80px;
    text-align: center;
    color: #ff599f;
  }


footer {
    text-align: center;
  }
</style>
<br>
<br>
<br>
<footer>
  <a href="/recipes/new">Want to add a recipe to this list? Go ahead! Click here!</a>
</footer>